{% extends '@SonataAdmin/CRUD/base_list_flat_inner_row.html.twig' %}

{% block row %}

    {# you can use fields defined in the the Admin class #}

    {#{{ object|render_list_element(admin.list['pic']) }} #}
    {{ object|render_list_element(admin.list['name']) }}
    <td objectid="{{ object.id }}">
        <img style="display: none;" onload="$(this).show();" width="100" src="{{ asset('/uploads/images/') ~ object.pic }}" />
    </td>



{% endblock %}