<div class="text-right">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Hello, {{ app.user.username }}!
        <br>
        <a href="logout">Logout</a>
    {% else %}
        <a href="login">Sign in</a>
        |
        <a href="register">Create account</a>
    {% endif %}
</div>