{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ include('user_menu.html.twig') }}
            <br>
            <form method="post">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Login"
                           value="{{ lastUser }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                </div>
                <div class="text-right">
                    <a href="register">Create account</a>
                    - or -
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        a.btn-default {
            float: right;
        }
    </style>
{% endblock %}
